<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>

<body>
    <div class="table-data">
        <h2>All Products</h2>
        <center>
            <table border="1">
                <tr>
                    <th>SN</th>
                    <th>Department</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Voucher</th>
                </tr>

                <% if(userData.length!=0){ userData.forEach(function(data, i){ %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%=data.department %>
                        </td>
                        <td rowspan="2">
                            <% var i=1; data.product.forEach(function(newData){%>
                                <%=newData.productName %>
                                    <% })%>
                        </td>

                        <td>
                            <% var i=1; data.product.forEach(function(newData){%>
                                <%=newData.productQuantity %>
                                    <% })%>
                        </td>

                        <td>
                            <%=data.voucher %>
                        </td>
                        <!-- <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
                    <td><a href="/users/delete/<%=data.id%>">Delete</a></td> -->
                    </tr>
                    <% i++; }) %>
                        <% } else{ %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                            <% } %>
            </table>
        </center>
    </div>
</body>

</html>