<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="table-data container table table-striped">
        <h2>All Products</h2>
        <center>
            <table border="1">
                <tr>
                    <th>SN</th>
                    <th>Department</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Voucher</th>
                </tr>

                <% if(userData.length!=0){ userData.forEach(function(data, i){ %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>

                        <td>
                            <%=data.department %>
                        </td>
                        <td>
                            <% for (var key in data.product){%>
                                <%= data.product[key].productName %><br>
                                    <hr>
                                    <% } %>
                        </td>

                        <td>
                            <% for (var key in data.product){%>
                                <%= data.product[key].productQuantity %><br>
                                    <hr>
                                    <% } %>
                        </td>



                        <td>
                            <%=data.voucher %>
                        </td>
                        <!-- <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
                    <td><a href="/users/delete/<%=data.id%>">Delete</a></td> -->
                    </tr>
                    <% i++; }) %>
                        <% } else{ %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                            <% } %>
            </table>
        </center>
    </div>
</body>

</html>